In [1]:
library(SparkR)
library(ibmWatsonStudioLib)
wslib <- access_project_or_space()
library(itcutils)

# NOTE:
#  A limit of 5000 rows has been applied to the request to enable sample previewing.
#  Adjust the display message as needed by editing the following lines:
library(IRdisplay)
display_html("A row limit of 5000 has been applied to the query to enable sample previewing. If the data set is larger, only the first 5000 rows will be loaded.")
#  Edit select_statement to change or disable the row limit.
#
nb_data_request = list(
    "connection_name" = "Db2oltp-1tb",
    "interaction_properties" = list(
        "select_statement" = "SELECT * FROM \"ANZ\".\"BANK_ACCOUNTS\" FETCH FIRST 5000 ROWS ONLY"
    )
)

invisible(sparkR.session(appName = "SparkSession R", sparkConfig = list(spark.sql.execution.arrow.sparkr.enabled = "true")))
df_data_1 <- read.df("",
    "com.ibm.connect.spark.flight",
    flight.location = itcutils::get_flight_service_url(),
    flight.command = itcutils::get_flight_cmd(nb_data_request,wslib),
    flight.authToken = itcutils::get_bearer_token()
)
head(df_data_1)

Waiting for a Spark session to start...

Spark Initialization Done! ApplicationId = app-20231127220232-0000

KERNEL_ID = 96b7f3ad-8508-4aa1-843e-a87db19fe6f5

  CITY       PROFESSION              NAME             ADDR1
1 FORT MEADE pensioner  s            Linsey P Laburda 9633 W Ferris Branch Blvd
2 FORT MEADE worker                  Etta A Metheny   9600 SE 36th Ave
3 TAMPA      pensioner               Lee I Western    107 Lucinda Dr
4 TAMPA      intermediate profession Freida I Balon   7712 Sherwood Blvd
5 HOLLYWOOD  inactive                Alirio S Aispuro 11155 Ruesta Dr
6 HOLLYWOOD  inactive                Dwayne A Marquez 10329 E 61st St
  ADDR2 STATE GENDER SAVINGS_ACCOUNT ONLINE_ACCESS JOINED_ACCOUNTS ⋯
1 NA    FL    F      NA              YES           YES             ⋯
2 NA    FL    M      NA              YES           YES             ⋯
3 NA    FL    F      NA              YES           YES             ⋯
4 NA    FL    F      NA              YES           YES             ⋯
5 NA    FL    M      NA              YES           YES             ⋯
6 NA    FL    F      NA              YES           YES             ⋯
  MARITAL_STATUS NBR_YEARS_CLI BANK_BALANCE ACCOUNT_ID ACCOUNT_TYPE BRANCH_ID
1 married        -11           30110        40103052   INVESTMENT   48
2 single         -20           12963        30103176   INVESTMENT   48
3 widowed        -16           64397        30102666   INVESTMENT   70
4 married        -24           34333        20102860   INVESTMENT   70
5 single          -7           68628        40102482   INVESTMENT   68
6 widowed         10           47206        60103134   INVESTMENT   68
  BRANCH_ADDRESS          BRANCH_CITY  BRANCH_STATE BRANCH_ZIP
1 9806 HORDES BOULEVARD   MAPLE RAPIDS TX           55552
2 9806 HORDES BOULEVARD   MAPLE RAPIDS TX           55552
3 4017 VASTNESS BOULEVARD HIGGINSPORT  TX           28884
4 4017 VASTNESS BOULEVARD HIGGINSPORT  TX           28884
5 7827 BICYCLE TURNPIKE   DES MOINES   WI           71042
6 7827 BICYCLE TURNPIKE   DES MOINES   WI           71042

In [2]:
# @hidden_cell

library(ibmWatsonStudioLib)
wslib <- access_project_or_space()

Db2oltp_1tb_metadata = wslib$get_connection("Db2oltp-1tb")

library(SparkR)
invisible(sparkR.session(appName = "SparkSession R"))

Db2oltp_1tb_url <- paste("jdbc:db2://",
    Db2oltp_1tb_metadata[][["host"]],
    ":", Db2oltp_1tb_metadata[][["port"]],
    "/", Db2oltp_1tb_metadata[][["database"]],
    ":", "sslConnection=true;",
    sep=""
)

df_data_2 <- read.jdbc(url = Db2oltp_1tb_url,
    table = "\"ANZ\".\"BANK_ACCOUNTS\"",
    user = Db2oltp_1tb_metadata[][["username"]],
    password = Db2oltp_1tb_metadata[][["password"]]
)
head(df_data_2)

  CITY       PROFESSION              NAME             ADDR1
1 FORT MEADE pensioner  s            Linsey P Laburda 9633 W Ferris Branch Blvd
2 FORT MEADE worker                  Etta A Metheny   9600 SE 36th Ave
3 TAMPA      pensioner               Lee I Western    107 Lucinda Dr
4 TAMPA      intermediate profession Freida I Balon   7712 Sherwood Blvd
5 HOLLYWOOD  inactive                Alirio S Aispuro 11155 Ruesta Dr
6 HOLLYWOOD  inactive                Dwayne A Marquez 10329 E 61st St
  ADDR2 STATE GENDER SAVINGS_ACCOUNT ONLINE_ACCESS JOINED_ACCOUNTS ⋯
1 NA    FL    F      NA              YES           YES             ⋯
2 NA    FL    M      NA              YES           YES             ⋯
3 NA    FL    F      NA              YES           YES             ⋯
4 NA    FL    F      NA              YES           YES             ⋯
5 NA    FL    M      NA              YES           YES             ⋯
6 NA    FL    F      NA              YES           YES             ⋯
  MARITAL_STATUS NBR_YEARS_CLI BANK_BALANCE ACCOUNT_ID ACCOUNT_TYPE BRANCH_ID
1 married        -11           30110        40103052   INVESTMENT   48
2 single         -20           12963        30103176   INVESTMENT   48
3 widowed        -16           64397        30102666   INVESTMENT   70
4 married        -24           34333        20102860   INVESTMENT   70
5 single          -7           68628        40102482   INVESTMENT   68
6 widowed         10           47206        60103134   INVESTMENT   68
  BRANCH_ADDRESS          BRANCH_CITY  BRANCH_STATE BRANCH_ZIP
1 9806 HORDES BOULEVARD   MAPLE RAPIDS TX           55552
2 9806 HORDES BOULEVARD   MAPLE RAPIDS TX           55552
3 4017 VASTNESS BOULEVARD HIGGINSPORT  TX           28884
4 4017 VASTNESS BOULEVARD HIGGINSPORT  TX           28884
5 7827 BICYCLE TURNPIKE   DES MOINES   WI           71042
6 7827 BICYCLE TURNPIKE   DES MOINES   WI           71042

In [3]:
library(SparkR)
library(ibmWatsonStudioLib)
wslib <- access_project_or_space()
library(itcutils)

nb_data_request = list(
    "connection_name" = "storage volume",
    "interaction_properties" = list(
        #"row_limit" = 5000,
        "file_name" = "ANZ/BANK_ACCOUNTS.csv",
        "infer_schema" = "true",
        "infer_as_varchar" = "false"
    )
)

invisible(sparkR.session(appName = "SparkSession R", sparkConfig = list(spark.sql.execution.arrow.sparkr.enabled = "true")))
df_data_3 <- read.df("",
    "com.ibm.connect.spark.flight",
    flight.location = itcutils::get_flight_service_url(),
    flight.command = itcutils::get_flight_cmd(nb_data_request,wslib),
    flight.authToken = itcutils::get_bearer_token()
)
head(df_data_3)

  CITY       PROFESSION               NAME              ADDR1            ADDR2
1 CLEARWATER employee                 Justin S Raisl    7347 Lobdell Rd  NA
2 PENSACOLA  pensioners               Helen C Boe       535 S Denby Ave  NA
3 PENSACOLA  executives self-employed Mel V Bullis      19121 Helton Ln  NA
4 TEXAS CITY pensioner  s             Hung O Gary       45576 Adler Ln   NA
5 SEQUATCHIE intermediate profession  Garret S Digiorno 14401 Inkster Rd NA
6 SEQUATCHIE pensioner s              Rodeny I Wigle    213 Maple St     NA
  STATE GENDER SAVINGS_ACCOUNT ONLINE_ACCESS JOINED_ACCOUNTS ⋯ MARITAL_STATUS
1 FL    F      NA              YES           YES             ⋯ married
2 FL    F      NA              YES           YES             ⋯ widowed
3 FL    M      NA              YES           YES             ⋯ married
4 TX    F      NA              YES           YES             ⋯ married
5 TX    M      NA              YES           YES             ⋯ cohabitant
6 TX    M      NA              YES           YES             ⋯ widowed
  NBR_YEARS_CLI BANK_BALANCE ACCOUNT_ID ACCOUNT_TYPE BRANCH_ID
1 37            42912        20102480   INVESTMENT    4
2 20            51458        30102326   INVESTMENT   81
3 30            17191        40102732   INVESTMENT   81
4 11            47143        60102684   INVESTMENT   22
5  8            60089        30102386   INVESTMENT   20
6 23            47148        40102947   INVESTMENT   20
  BRANCH_ADDRESS            BRANCH_CITY                  BRANCH_STATE
1 1856 PARLIAMENTARY STREET SUNNY POINT MILITARY OCEAN T SD
2 9978 DISTRUST STREET      SAN LEANDRO                  CA
3 9978 DISTRUST STREET      SAN LEANDRO                  CA
4 978 IMMORTALLY STREET     BULGER                       NC
5 3818 TALKATIVENESS CIRCLE KNICKERBOCKER                LA
6 3818 TALKATIVENESS CIRCLE KNICKERBOCKER                LA
  BRANCH_ZIP
1 62818
2 93750
3 93750
4 32066
5 81959
6 81959

In [4]:
library(SparkR)

storage_volume_path <- paste("/mnts/local1tb", "ANZ/BANK_ACCOUNTS.csv", sep=.Platform$file.sep)

# For more read options, refer to https://spark.apache.org/docs/latest/sql-data-sources-csv.html 
df_data_4 <- read.df(storage_volume_path, source = 'csv')
showDF(df_data_4, numRows = 5, truncate = TRUE)

+----------+--------------------+--------------+---------------+-----+-----+------+---------------+-------------+---------------+--------+---------+---------+-----+--------+--------------+-------------+------------+----------+------------+---------+--------------------+--------------------+------------+----------+
|       _c0|                 _c1|           _c2|            _c3|  _c4|  _c5|   _c6|            _c7|          _c8|            _c9|    _c10|     _c11|     _c12| _c13|    _c14|          _c15|         _c16|        _c17|      _c18|        _c19|     _c20|                _c21|                _c22|        _c23|      _c24|
+----------+--------------------+--------------+---------------+-----+-----+------+---------------+-------------+---------------+--------+---------+---------+-----+--------+--------------+-------------+------------+----------+------------+---------+--------------------+--------------------+------------+----------+
|      CITY|          PROFESSION|          NAME|          ADDR1|ADDR2|STATE|GENDER|SAVINGS_ACCOUNT|ONLINE_ACCESS|JOINED_ACCOUNTS|BANKCARD|RECORD_ID|   SS_NUM|  ZIP|ZIP_FOUR|MARITAL_STATUS|NBR_YEARS_CLI|BANK_BALANCE|ACCOUNT_ID|ACCOUNT_TYPE|BRANCH_ID|      BRANCH_ADDRESS|         BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP|
|CLEARWATER|            employee|Justin S Raisl|7347 Lobdell Rd| null|   FL|     F|           null|          YES|            YES|     YES|AV0000376|726606015|62818|       0|       married|         37.0|    42912.00|  20102480|  INVESTMENT|        4|1856 PARLIAMENTAR...|SUNNY POINT MILIT...|          SD|     62818|
| PENSACOLA|          pensioners|   Helen C Boe|535 S Denby Ave| null|   FL|     F|           null|          YES|            YES|     YES|AV0000221|401527635|93750|       0|       widowed|         20.0|    51458.00|  30102326|  INVESTMENT|       81|9978 DISTRUST STREET|         SAN LEANDRO|          CA|     93750|
| PENSACOLA|executives self-e...|  Mel V Bullis|19121 Helton Ln| null|   FL|     M|           null|          YES|            YES|     YES|AV0000628|460022257|93750|       0|       married|         30.0|    17191.00|  40102732|  INVESTMENT|       81|9978 DISTRUST STREET|         SAN LEANDRO|          CA|     93750|
|TEXAS CITY|        pensioner  s|   Hung O Gary| 45576 Adler Ln| null|   TX|     F|           null|          YES|            YES|     YES|AV0000577|603573208|98652|       0|       married|         11.0|    47143.00|  60102684|  INVESTMENT|       22|978 IMMORTALLY ST...|              BULGER|          NC|     32066|
+----------+--------------------+--------------+---------------+-----+-----+------+---------------+-------------+---------------+--------+---------+---------+-----+--------+--------------+-------------+------------+----------+------------+---------+--------------------+--------------------+------------+----------+
only showing top 5 rows